.btn-info { 
  background-color: #025301; 
  border-color: #999; 
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
  background-color: #80D464;
  border-color: #999;
  color: #000;
}